# gitignore
**/.DS_Store
**/.DS_Store/
.DS_Store/
.DS_Store

**/.vscode/
**/.vscode

#cscope
*/cscope.files
*/cscope.out


**/*.zip
**/*.json
**/*.errors
**/*.output
**/*.d
**/*.result
**/*.o

src/utils/
src/Make.config
src/Makefile.userprog
src/devices/shutdown.c


