# gitignore
**/.DS_Store
**/.DS_Store/
.DS_Store/
.DS_Store

**/.vscode/
**/.vscode

#cscope
*/cscope.files
*/cscope.out


**/*.zip
**/*.json
**/*.errors
**/*.output
**/*.d
**/*.result
**/*.o

**/build
**/build/*
